* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-clr: #fff;
    --input-size: 350px;
}

body {
    height: 100vh;
    background: url(/dist/img/background.jpg) no-repeat center/cover;
    color: var(--text-clr);
    font-family: 'Open Sans', sans-serif;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

header {
    margin: 1rem;
    border-bottom: 1px solid white;
}

/* Sidebar */

.sidebar-content{
    width: 100%;
    height: 100%;
}

.sidebar-content > ul {
    list-style: none;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-self: center;
}

.sidebar-content > ul > li {
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
}

.remove-project-btn {
    color: white;
    justify-self: self-end;
    background: transparent;
    font-size: 1.2rem
}

.remove-project-btn:hover {
    cursor: pointer;
    background-color: #BF654D;
}

.sidebar-content > h1 {
    padding: 1rem 1rem 0 1rem;
}

.sidebar-content > form {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.sidebar-content > form > input {
    width: 75%;
    height: 30px;
    margin-top: 0.3rem;
    font-size: 1.2rem;
}

.sidebar-content > form > button {
    width: 75%;
    margin-top: 0.3rem;
    padding: 0.5rem;
    background-color: #4D3543;
    color: white;
    font-size: 1.2rem;
}

/* Main */

.main-content {
    border: 1px solid white;
    width: 100%;
    height: 100%;
}